@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-off-white min-h-screen font-body text-primary;
  }
}

@layer components {
  .header-link {
    &::after {
      content: '';
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      right: 0;
      height: 0.3rem;
      transform-origin: right;
      background-color: currentColor;
      transition: transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &:not(.active) {
      &::after {
        transform: scaleX(0);
      }
    }

    &:hover::after {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}
